h1 {
  font-weight: 700;
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}
.items-container {
  text-align: left;
}
.am-row {
  margin: 10px 5px;
}
.am-button {
min-width: 80px;
}